{#
 # This file is part of the Parti de Gauche elections data project.
 #
 # The Parti de Gauche elections data project is free software: you can
 # redistribute it and/or modify it under the terms of the GNU Affero General
 # Public License as published by the Free Software Foundation, either
 # version 3 of the License, or (at your option) any later version.
 #
 # The Parti de Gauche elections data project is distributed in the hope
 # that it will be useful, but WITHOUT ANY WARRANTY; without even the
 # implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 # See the GNU Affero General Public License for more details.
 #
 # You should have received a copy of the GNU Affero General Public License
 # along with the Parti de Gauche elections data project.
 # If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends 'PartiDeGaucheElectionsBundle::layout.html.twig' %}

{% macro pourcentage(valeur, total) %}
  {{ valeur and total ? ((valeur/total) * 100)|number_format(2) ~ '%' : 'NA' }}
{% endmacro %}

{% import _self as format %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      <h4>Résultats - {{ territoire }}</h4>
    </div>
  </div>
  <div class="row">
    <div clas="col-md-12">
      <div class="table-responsive">
        <table class="table table-condensed table-hover">
          <tr>
            <th></th>
            {% for echeance, resultat in resultats %}
              <th>
                {{ echeance }}
              </th>
            {% endfor %}
          </tr>
          <tr>
            <th>Inscrits</th>
            {% for echeance in resultats %}
              <td>
                {{ echeance.inscrits|default('NA') }}
              </td>
            {% endfor %}
          </tr>
          <tr>
            <th>Votants</th>
            {% for echeance in resultats %}
              <td>
                {{ echeance.votants|default('NA') }}
              </td>
            {% endfor %}
          </tr>
          <tr>
            <th>Votants/Inscrits</th>
            {% for echeance in resultats %}
              <td>
                {{ format.pourcentage(echeance.votants, echeance.inscrits) }}
              </td>
            {% endfor %}
          </tr>
          <tr>
            <th>Exprimés</th>
            {% for echeance in resultats %}
              <td>
                {{ echeance.exprimes|default('NA') }}
              </td>
            {% endfor %}
          </tr>
          {% for nuance, score in (resultats|first)|slice(3) %}
            <tr>
              <th>
                {{ nuance }}
              </th>
              {% for echeance in resultats %}
                <td>
                  {{ echeance[nuance].toVoix|default('NA') }}<br/>
                  {{ format.pourcentage(echeance[nuance].toVoix, echeance.exprimes) }}
                </td>
              {% endfor %}
            <tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
