{#
 # This file is part of the Parti de Gauche elections data project.
 #
 # The Parti de Gauche elections data project is free software: you can
 # redistribute it and/or modify it under the terms of the GNU Affero General
 # Public License as published by the Free Software Foundation, either
 # version 3 of the License, or (at your option) any later version.
 #
 # The Parti de Gauche elections data project is distributed in the hope
 # that it will be useful, but WITHOUT ANY WARRANTY; without even the
 # implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 # See the GNU Affero General Public License for more details.
 #
 # You should have received a copy of the GNU Affero General Public License
 # along with the Parti de Gauche elections data project.
 # If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends 'PartiDeGaucheElectionsBundle::layout.html.twig' %}

{% macro pourcentage(valeur, total) %}{% spaceless %}
  {{ valeur and total ? ((valeur/total) * 100)|number_format(2) ~ '%' : 'NA' }}
{% endspaceless %}{% endmacro %}

{% macro candidat(candidats) %}{% spaceless %}
  {% for candidat in candidats %}
    {{ candidat.nom }}
    {% if not loop.last %}<br/>{% endif %}
  {% endfor %}
{% endspaceless %}{% endmacro %}

{% macro diffVoix(resultats, index, nuance) %}{% spaceless %}
  {% import _self as format %}
  {% set currentResultat = 0 %}
  {% set prevResultat = 0 %}
  {% for echeance in resultats|slice(index-2, 2) %}
    {% if loop.first %}
      {% set prevResultat = echeance[nuance].score.toVoix %}
    {% elseif loop.last %}
      {% set currentResultat = echeance[nuance].score.toVoix %}
    {% endif %}
  {% endfor %}

  {% if prevResultat and currentResultat %}
    {% set diff = currentResultat - prevResultat %}
    {% set class = (diff >= 0 ? 'success' : 'danger') %}
    /
    <span class="text-{{class}}">
      {{ (diff >= 0 ? '+': '') }}{{ diff|number_format(0, ',', ' ')}}
      ({{ (diff >= 0 ? '+': '') ~ format.pourcentage(diff, prevResultat) }})
    </span>
  {% endif %}
{% endspaceless %}{% endmacro %}

{% macro diffPourcentage(resultats, index, nuance) %}{% spaceless %}
  {% import _self as format %}
  {% set currentResultat = 0 %}
  {% set prevResultat = 0 %}
  {% for echeance in resultats|slice(index-2, 2) %}
    {% if loop.first %}
      {% set prevResultat = echeance.exprimes ? (echeance[nuance].score.toVoix/echeance.exprimes) * 100 : false %}
    {% elseif loop.last %}
      {% set prevResultat = echeance.exprimes ? (echeance[nuance].score.toVoix/echeance.exprimes) * 100 : false %}
    {% endif %}
  {% endfor %}

  {% if prevResultat and currentResultat %}
    {% set diff = currentResultat - prevResultat %}
    {% set class = (diff >= 0 ? 'success' : 'danger') %}
    /
    <span class="text-{{class}}">
      {{ (diff >= 0 ? '+': '') }}
      {{ diff|number_format(2, ',', ' ')}} %
    </span>
  {% endif %}
{% endspaceless %}{% endmacro %}

{% import _self as format %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      <h4>Résultats - {{ territoire }}</h4>
    </div>
  </div>
  <div class="row">
    <div clas="col-md-12">
      <div class="table-responsive">
        <table class="table table-condensed table-hover">
          <tr>
            <th></th>
            {% for echeance, resultat in resultats %}
              <th>
                {{ echeance }}
              </th>
            {% endfor %}
          </tr>
          <tr>
            <th>Inscrits</th>
            {% for echeance in resultats %}
              <td>
                {{ echeance.inscrits|number_format(0, ',', ' ')|default('NA') }}
              </td>
            {% endfor %}
          </tr>
          <tr>
            <th>Votants</th>
            {% for echeance in resultats %}
              <td>
                {{ echeance.votants|number_format(0, ',', ' ')|default('NA') }}
              </td>
            {% endfor %}
          </tr>
          <tr>
            <th>Votants/Inscrits</th>
            {% for echeance in resultats %}
              <td>
                {{ format.pourcentage(echeance.votants, echeance.inscrits) }}
              </td>
            {% endfor %}
          </tr>
          <tr>
            <th>Exprimés</th>
            {% for echeance in resultats %}
              <td>
                {{ echeance.exprimes|number_format(0, ',', ' ')|default('NA') }}
              </td>
            {% endfor %}
          </tr>
          {% for nuance, score in (resultats|first)|slice(3) %}
            <tr>
              <th>
                {{ nuance }}
              </th>
              {% for echeance in resultats %}
                {% if echeance[nuance].candidats|length > 0 %}
                  <td title="Candidat-e-s" data-content="{{ format.candidat(echeance[nuance].candidats) }}">
                {% else %}
                  <td>
                {% endif %}
                  {{ echeance[nuance].score.toVoix|number_format(0, ',', ' ')|default('NA') }}
                  {% if loop.index > 1 %}
                    {{ format.diffVoix(resultats, loop.index, nuance) }}
                  {% endif %}<br/>
                  {{ format.pourcentage(echeance[nuance].score.toVoix, echeance.exprimes) }}
                  {% if loop.index > 1 %}
                    {{ format.diffPourcentage(resultats, loop.index, nuance) }}
                  {% endif %}<br/>
                </td>
              {% endfor %}
            <tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script>
    $('td').popover({
      container: 'body',
      placement: 'top',
      html: true,
      trigger: 'hover'
    });
  </script>
{% endblock %}

