{#
 # This file is part of the Parti de Gauche elections data project.
 #
 # The Parti de Gauche elections data project is free software: you can
 # redistribute it and/or modify it under the terms of the GNU Affero General
 # Public License as published by the Free Software Foundation, either
 # version 3 of the License, or (at your option) any later version.
 #
 # The Parti de Gauche elections data project is distributed in the hope
 # that it will be useful, but WITHOUT ANY WARRANTY; without even the
 # implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 # See the GNU Affero General Public License for more details.
 #
 # You should have received a copy of the GNU Affero General Public License
 # along with the Parti de Gauche elections data project.
 # If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends 'PartiDeGaucheElectionsBundle::layout.html.twig' %}

{% form_theme form 'PartiDeGaucheElectionsBundle:Form:fields.html.twig' %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      {{ form_start(form) }}
        <div class="row">
          <div class="col-md-3">
              <h4>Election</h4>
              {{ form_row(form.inscrits) }}
              {{ form_row(form.votants) }}
              {{ form_row(form.exprimes) }}
          </div>
          <div class="col-md-9">
              <h4>Candidats</h4>
              <div class="row">
                  {% for candidatForm in form.candidats %}
                      <div class="col-md-4 candidat">
                          {{ form_row(candidatForm, {'label': false}) }}
                      </div>
                  {% endfor %}
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            {{ form_widget(form.effacer, {'attr': {'class': 'form-control btn-danger'} }) }}
          </div>
          <div class="col-md-8">
            {{ form_row(form.enregistrer, {'attr': {'class': 'form-control'} }) }}
          </div>
        </div>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
